
@keyframes slideInRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0.5% 0;
    background: #fff;
    width: 80%;
    position: absolute;
    right: 0;
    top: 20px;
    animation: slideInRightToLeft 0.7s ease-out;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    height: calc(100% - 40px);
}

.input-container {
    display: flex;
    flex-direction: column;

    label {
        font-size: 14px;

        span {
            color: #C02222;
        }
    }
}

.sub-container-1 {
    border-bottom: 0.44px solid #AAAAAA;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--PopupHeader);
}

.sub-container-2 {
    padding: 2% 3%;
}

::ng-deep .select-container {
    .ant-select {
        width: 100%;
    }

    .ant-input {
        width: 100%;
        height: 35px !important;
        border-radius: 8px !important;
        border: solid 1px var(--PopupHeader) !important;
    }

    .ant-picker {
        width: 100%;
        height: 35px !important;
        border-radius: 8px !important;
        border: solid 1px var(--PopupHeader) !important;
    }

    .ant-select-selector {
        height: 35px !important;
        border-radius: 8px !important;
        border: solid 1px var(--PopupHeader) !important;
        display: flex;
        justify-content: center;
    }

    input::placeholder {
    }
}

.select-container {
    padding: 2% 0;
}

.flex-btn {
    display: flex;
    width: 94.4%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.close-icon {
    cursor: pointer;
}

.m-t-15 {
    margin-top: 15px;
}

.selected-event {
    background: #074F83 !important;
    color: #fff;
}

.validation-message {
    color: red;
}


.generateOtpScreen {
    position: absolute;
    top: 7px;
    background: #fff;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.84);
    z-index: 9999;
    backdrop-filter: blur(8px);
}

.blur-background {
    backdrop-filter: blur(8px);
}

.main-container.blur-background * {
    pointer-events: none;
}

/* Re-enable pointer events for specific elements within the OTP generation screen if needed */
.generateOtpScreen button {
    pointer-events: auto;
}

.generateOtpScreen-open {
    overflow: hidden;
}

.row-container {
    width: 100%;
    display: flex;
    //justify-content: space-between;
    //padding: 3em;
    margin-bottom: 4px;

    .input-container {
        width: 25%;
        padding-left: 15px;
    }
}

.row-container-overdraft {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    flex-wrap: wrap;

    .input-container {
        width: 48%
    }
}

.address-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    .input-container {
        width: 48%;
    }
}

.bottom-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;

    .input-container {
        width: 48%;
    }
}

.active-check {
    display: flex;
    align-items: center;
    height: 100%;
}

.action-buttons {
    width: 100%;

    button {
        margin-right: 20px;
        width: 15%;
        font-size: 14px;
    }

    button:hover {
        font-size: 15px;
    }
}

.sub-container-3 {
    display: flex;
    justify-content: flex-end;
    border-top: var(--PopupHeader) solid 1px;
    padding-top: 3%;
}

.save-button {
    background-color: var(--SaveButton) !important;
    color: var(--text-color) !important;
}

.clear-button {
    background-color: var(--ClearButton) !important;
    color: var(--text-color) !important;
}

.close-button {
    background-color: var(--CloseButton) !important;
    color: var(--text-color) !important;
}

button:disabled {
    background-color: #d3d3d3 !important;
    color: #ffffff !important;
    opacity: 1 !important;
}

.save-button:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orangered;
    transition: 0.4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(24px);
}

.toggle {
    display: flex;
    border: solid 1px var(--PopupHeader) !important;
    border-radius: 6px;
    overflow: hidden;
    width: fit-content;
    color: white
}

.toggle input[type="radio"] {
    display: none;
}

.toggle label {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    color: var(--PopupHeader) !important;
    font-weight: bold;
    transition: 0.3s ease;
}

.toggle input[type="radio"]:checked + label {
    background-color: var(--PopupHeader) !important;
    color: white !important;
}
