
@{
    ViewBag.Title = "Device Approval";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/Validation.js"></script>
<script src="~/Scripts/datatable.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<style>
    each {
        border-bottom: 1px solid #555;
        padding: 3px 0;
    }

    .acItem .name {
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .acItem .desc {
        font-size: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
    }

    .ui-autocomplete {
        max-height: 245px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    td {
        font-size: 11px;
    }

    input[type=number] {
        text-align: right;
    }

        input[type=number]::placeholder {
            text-align: left;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
    /* The Modal (background) */
    .modalBatch {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    @@media only screen and (min-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 3% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 35%; /* Could be more or less, depending on screen size */
            height: 70%;
            top: 5%;
            overflow: auto;
        }
    }

    @@media only screen and (max-width: 600px) {
        .modalBatch-content {
            background-color: #ffffff;
            margin: 10% auto; /* 15% from the top and centered */
            padding: 25px;
            border: 1px solid #888;
            width: 99%; /* Could be more or less, depending on screen size */
            height: 80%;
            top: 20%;
            overflow: auto;
        }
    }
    /* The Close Button */
    .closefg {
        color: #aaa;
        float: right;
        font-size: 10px;
        font-weight: bold;
    }

        .closefg:hover,
        .closefg:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .form-label {
        position: relative;
        display: block;
        clear: both;
        max-width: 500px;
        margin: 0 auto;
    }

    .labelup {
        -webkit-transform: translateY(50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(50%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: -40%;
        left: 1em;
        background: #fffefe;
        color: #2b2828;
        font-size: 0.90em;
        cursor: text;
        pointer-events: none;
        font-family: sans-serif;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 18px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f00;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 15px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #0bee2b;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(15px);
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<body>
    @*<h4 id="MainHeading">Users</h4>
        <hr />*@
    <h4 id="MainHeading">Device Approval</h4>
    <hr />
    <div class="toastBox"></div>
    <div id="dvMainTable">
        <table class="table table-bordered" id="tblMasterData" width="100%">
            <thead>
                <tr class="trclrforcolheader">
                    <th style="text-align:center;font-size: 12px;width:5%;">#</th>
                    <th style="text-align:center;font-size: 12px;width:35%;">User Name</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">Moblie No</th>
                    <th style="text-align:center;font-size: 12px;width:20%;">Device Name</th>
                    <th style="text-align:center;font-size: 12px;width:10%;">Activate</th>
                    <th style="text-align:center;font-size: 12px;width:15%;">De-Activate</th>
                    <th style="text-align:center;font-size: 12px;width:0%;">AndroidID</th>
                    <th style="text-align:center;font-size: 12px;width:0%;">UserID</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script type="text/javascript">
    var Table = $('#tblMasterData').DataTable({pageLength: ItemsperPage,lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
        "bFilter": true,
        "bSearchable": true,
        "bInfo": true,
        "bPaginate": true,
        "ordering": true,
        scrollY: "400px",
        scrollX: true,
        scrollCollapse: true,
        "columnDefs": [{ "targets": [6,7], "visible": false }],
    });
    function ShowMsgPopup(content) {
        $.alert({
            title: "Device Approval",
            content: content,
        });
    }
    var Aurl = '@Session["APIurl"]';
    var arrData = [];
    var UID = '@Session["LoginUserID"]';
    var RID = '@Session["RoleID"]';
    var nMode = 1;
    var FID = 1;// $("#txtFormID").val();
    InitiateData();
    function InitiateData() {
        Table.clear().draw(); Table.clear().draw();
        $.ajax({
            url: Aurl + "SystemApproval/get",
            type: 'GET',
            datatype: 'json',
            data: { Mode: 1 },//, nMode: 4, nDeviceID: "", nUserID: "", nDBs: ""   Connection: StrCon
            success: function (data) {
                $.each(data, function (i, items) {
                    var IsAct = items.Activate == "False" ? "" : "Disabled";
                    var btncls = items.Activate == "False" ? "btn-warning" : "btn-success"
                    Table.row.add([
                        (i + 1),
                        items.UserName,
                        items.MobileNo,
                        items.DeviceName,
                        '<button class="btn ' + btncls +' btnActivates"' + IsAct + '> Activate </button>',
                        '<button class="btn btn-danger btnDeActivates"> De-Activate </button>',
                        items.DeviceID,
                        items.UserID
                    ]).draw(false);
                });
            }
        });
    }
    $('#tblMasterData tbody').on('click', 'button.btnActivates', function () {
        rowdata = Table.row($(this).parents('tr')).data();
        ActiveandDeActivateUser(5, rowdata[6], rowdata[7]);
        //alert("Activate\nDevice ID : " + rowdata[5] + "\nUserID : " + rowdata[6] + "\nDB Name : " + rowdata[7]);
    });
    $('#tblMasterData tbody').on('click', 'button.btnDeActivates', function () {
        rowdata = Table.row($(this).parents('tr')).data();
        ActiveandDeActivateUser(6, rowdata[6], rowdata[7]);
        //alert("De-Activate\nDevice ID : " + rowdata[5] + "\nUserID : " + rowdata[6] + "\nDB Name : " + rowdata[7]);

    });
    function ActiveandDeActivateUser(Mode, DeviceID, UserID)
    {
        $.ajax({
            url: Aurl + "SystemApproval/save",
            type: 'GET',
            datatype: 'json',
            data: { nMode: Mode, nDeviceID: DeviceID, nUserID: UserID },//
            success: function (data) {
                if (Mode == 5) {
                    ShowMsgPopup("<label style='color:green'>Activated Successfully.!!!</label>")
                }
                else {
                    ShowMsgPopup("<label style='color:red'>De-Activated Successfully.!!!</label>")
                }
            }
        });
        InitiateData();
    }

</script>