@model ShineWeb.Models.SingleMasterModel
@{
    ViewBag.Title = ViewData["FormName"];
}
<link href="~/Content/bootstrap.min.3.4.1.css" rel="stylesheet" />
<link href="~/Content/navbar.css" rel="stylesheet" />
<link href="~/Content/buttonTop.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/jquery-ui.css">
<link href="~/Content/dataTables.dataTables.2.2.2.css" rel="stylesheet" />

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/bootstrap.min.3.4.1.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/datatable.js"></script>
<script src="~/Scripts/dataTables.2.2.2.js"></script>
<script src="~/Scripts/js/refreshtoken.js"></script>
<!DOCTYPE html>
<html>
<head>

    <style>
        .form-inline .form-group {
            margin-right: 15px;
        }



        .child-tabs {
            margin-top: 10px;
        }



        /* Custom styling for 50-50 tabs */
        .main-tab-container {
            display: flex;
            margin-bottom: 0;
        }

        .main-tab {
            flex: 1;
            text-align: center;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            padding: 10px 0;
            cursor: pointer;
        }

            .main-tab.active {
                background-color: #337ab7;
                /*color: white;*/
                font-weight: bold;
            }

        .form-label {
            position: relative;
            display: block;
            clear: both;
            max-width: 500px;
            margin: 0 auto;
        }

        .labelup {
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(50%);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            position: absolute;
            top: -40%;
            left: 1em;
            background: #fffefe;
            color: #2b2828;
            font-size: 0.7em;
            cursor: text;
            pointer-events: none;
            font-family: sans-serif;
        }

        .labelupfortextarea {
            -webkit-transform: translateY(50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(50%);
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            position: absolute;
            top: -18%;
            left: 1em;
            background: #fffefe;
            color: #2b2828;
            font-size: 1em;
            cursor: text;
            pointer-events: none;
            font-family: sans-serif;
        }

        .gdInput {
            width: 100%;
            height: 25px;
            border-width: 0 0 0.1px 0;
            border-color: #e0d6d6;
            color: black !important;
        }

        #tblDocuments, #tblItemDetails thead {
            font-size: 9px;

        }

        #tblDocuments, #tblItemDetails td {
            font-size: 10px;
        }

            #tblDocuments th,
            #tblDocuments td {
                white-space: nowrap;
            }

        #tblItemDetails th,
        #tblItemDetails td {
            white-space: nowrap;
        }

    </style>
</head>
<body>
    <div class="toastBox"></div>
    <div class="container">
        <h5>@ViewData["FormName"]</h5>

        <!-- Custom Main Tabs -->
        <div class="main-tab-container">
            <div class="main-tab active" id="tab-eway">E-Way Details</div>
            <div class="main-tab" id="tab-export">Export</div>
            <div class="main-tab" id="tab-import">Import</div>
            
        </div>

        <div class="tab-content">
            <br />
            <div id="eway" class="tab-pane in active">

                <div class="row">
                    <table width="100%">
                        <tr>
                            <td style="padding-top:10px">
                                <span class="form-label">
                                    <select class="form-control FormclrcmbField" id="cmbVehicleNo"><option value="0">Select Vehicle No</option></select>
                                    <label class="labelup" style="font-size: 11px;">Vehicle No *</label>
                                </span>
                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrVehicleNo" class="clrdivs"></div>
                            </td>
                            <td style="padding-top:10px">
                                <span class="form-label">
                                    <select class="form-control FormclrcmbField" id="cmbTransportMode">
                                        <option value="0">Road</option>
                                        <option value="1">Rail</option>
                                        <option value="2">Air</option>
                                        <option value="3">Ship/Road cum ship</option>
                                    </select>
                                    <label class="labelup" style="font-size: 11px;">Transport Mode</label>
                                </span>

                            </td>
                            <td>
                                <div style="padding-top:10px">
                                    <span class="form-label">
                                        <select class="form-control FormclrcmbField" id="cmbTransportType">
                                            <option value="0">Regular</option>
                                            <option value="1">ODC</option>
                                        </select>
                                        <label class="labelup">Transport Type</label>
                                    </span>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td style="padding-top:10px">
                                <span class="form-label">
                                    <input type="text" txttag="0" class="form-control FormclrField" id="txtTransportID" />
                                    <label class="labelup" style="font-size: 11px;">Transport ID</label>
                                </span>

                            </td>
                            <td>
                                <div style="padding-top:10px">
                                    <span class="form-label">
                                        <input type="text" txttag="0" class="form-control FormclrField" id="txtTransportName"
                                               onbeforeinput="return AlphaNumericBeforeInput(event, this,'#dvErrorTransportname')"
                                               oninput="sanitizeAlphaNumeric(this, '#dvErrorTransportname')" />
                                        <label class="labelup" style="font-size: 11px;">Transport Name</label>
                                    </span>
                                    <div class="clrdiv" id="dvErrorTransportname" style="color:red ;font-size: 11px"></div>
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td style="padding-top:10px">

                                <span class="form-label">
                                    <textarea type="text" rows="3" class="form-control FormclrField" id="txtEwayDocID"
                                              onbeforeinput="return AlphaNumericBeforeInput(event, this,'#dvErrorDocid')"
                                              oninput="sanitizeAlphaNumeric(this, '#dvErrorDocid')" /></textarea>
                                    <label class="labelupfortextarea" style="font-size: 11px;">Doc ID</label>
                                </span>
                                <div class="clrdiv" id="dvErrorDocid" style="color:red ;font-size: 11px"></div>
                                <a href="javascript:void(0)" id="btnCommonDocFilter" style="float:right">Document Filter</a>
                                <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrEwayDocID" class="clrdivs"></div>
                            </td>
                            <td style="padding-left:10px;">
                                <div>
                                    <button id="btnEWayupdate" class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved" style="color: white"></span>&#x2009;Update</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- Export Tab -->
            <div id="export" class="tab-pane fade">
                <br>
                <div class="row">
                    <!-- Left Side -->
                    <div class="col-md-12">
                        <table width="100%">
                            <tr class="bgclrfortr">
                                <td style="border:none;">
                                    <div>
                                        <span class="form-label">
                                            <select class="form-control" id="cmbType">
                                                <option value="1">E-Way</option>
                                                <option value="2">E-Invoice</option>
                                            </select>
                                            <label class="labelup">Type</label>
                                        </span>
                                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrType" class="clrdivs"></div>
                                    </div>
                                </td>
                                <td style="border:none;">
                                    <div>
                                        <span class="form-label">
                                            <input type="text" class="form-control" id="txtRange" placeholder="Range">
                                            <label class="labelup">Range</label>
                                        </span>
                                        <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrRange" class="clrdivs"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="form-label">
                                        <select class="gdInput" id="cmbFilterDatetype" onchange="SetFilterDate();"></select>
                                    </span>
                                </td>
                                <td>
                                    <span class="form-label">
                                        <input class="form-control FormfilterclrField" type="date" id="dtpFFrom" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                                        <label class="labelup"> From</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFFrom" class="clrdivs"></div>
                                </td>
                                <td>
                                    <span class="form-label">
                                        <input class="form-control FormfilterclrField" type="date" id="dtpFTo" placeholder="" oninput="javascript: if (this.value > this.max) { this.value = this.max; }">
                                        <label class="labelup"> To</label>
                                    </span>
                                    <div style="color: red; padding-top: 5px; padding-left: 5px;" id="divErrFTo" class="clrdivs"></div>
                                </td>
                                <td style="padding-left:10px;">
                                    <button id="btnFilter" class="btn btn-primary"><span class="glyphicon glyphicon-filter" style="color: white"></span>&#x2009;Filter</button>
                                </td>
                                <td style="padding-left:10px;">
                                    <div>
                                        <button id="btnJson" class="btn btn-success" onclick="getSelectedRows()"><span class="glyphicon glyphicon-file" style="color: white"></span>&#x2009;Json</button>
                                    </div>
                                </td>
                                <td>
                                    <div id="dvEINVlink" hidden>
                                        <a href="https://einvoice1.gst.gov.in/" target="_blank"><u>E-Invoice Portal</u></a>
                                    </div>
                                    <div id="dvEWAYlink">
                                        <a href="https://ewaybillgst.gov.in/Login.aspx" target="_blank"><u>E-Way Portal</u></a>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                    @*<button onclick="getSelectedRows()">Get Selected Rows</button>*@

                </div>

                <!-- Child Tabs -->
                <div class="child-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#docDetails">Doc Details</a></li>
                        <li><a data-toggle="tab" href="#itemDetails">Item Details</a></li>                        
                    </ul>
                    
                    <div class="tab-content">
                        <div id="docDetails" class="tab-pane fade in active">
                            <table class="table table-bordered table-striped" id="tblDocuments" style="width: 100%; color: black !important">
                            </table>
                        </div>
                        <div id="itemDetails" class="tab-pane fade">
                            <table class="table table-bordered table-striped" id="tblItemDetails" style="width: 100%; color: black !important">
                            </table>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Import Tab -->
            <div id="import" class="tab-pane fade">
                <br>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only">Browse</label>
                        <input type="file" class="form-control" id="txtImportFile">
                    </div>
                    <button class="btn btn-success" id="btnImport">Import</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
    var Aurl = '@Session["APIurl"]';
        // Custom tab click handlers
        $('#tab-export').click(function () {
            $('.main-tab').removeClass('active');
            $(this).addClass('active');
            $('#export').addClass('in active').show();
            $('#import').removeClass('in active').hide();
            $('#eway').removeClass('in active').hide();
        });

        $('#tab-import').click(function () {
            $('.main-tab').removeClass('active');
            $(this).addClass('active');
            $('#import').addClass('in active').show();
            $('#export').removeClass('in active').hide();
            $('#eway').removeClass('in active').hide();
        });
    $('#tab-eway').click(function () {
        $('.main-tab').removeClass('active');
        $(this).addClass('active');
        $('#import').addClass('in active').hide();
        $('#export').removeClass('in active').hide();
        $('#eway').removeClass('in active').show();
    });

        var tableDocuments = $('#tblDocuments').DataTable({
            paging: false,
            searching: false,
            info: false,
            ordering: false,
            scrollY: "250px",
            scrollX: true,
            scrollCollapse: true,
        });
        var tableItemDetails = $('#tblItemDetails').DataTable({
            paging: false,
            searching: true,
            info: false,
            ordering: false,
            scrollY: "250px",
            scrollX: true,
            scrollCollapse: true,
        });
        $('#btnFilter').click(function (e) {
            GetFilterData();
        });
        function GetFilterData() {
            var IsValid = true;
            $(".clrdivs").html("");

            if ($("#dtpFFrom").val() == "") {
                IsValid = false;
                $("#divErrFFrom").html("From date should not be empty");
            }
            if ($("#dtpFTo").val() == "") {
                IsValid = false;
                $("#divErrFTo").html("To date should not be empty");
            }
            if ($("#dtpFFrom").val() > $("#dtpFTo").val()) {
                IsValid = false;
                $("#divErrFFrom").html("From date should be lessthan To Date");
            }
            if (IsValid) {
                var strType = $("#cmbType").val(), dFrom = $("#dtpFFrom").val(), dTo = $("#dtpFTo").val(), strRange = $("#txtRange").val();
                $.ajax({
                    url: Aurl + "einvoiceeway/get",
                    type: 'get',
                    contentType: 'json',
                    data: { TypeID: strType, Range: strRange, FromDate: dFrom, ToDate: dTo },
                    xhrFields: {
                        withCredentials: true
                    },
                    async: false,
                    success: function (data) {
                        if (data) {
                            tableDocuments.destroy();
                            tableItemDetails.destroy();
                            $('#tblDocuments,#tblItemDetails').empty();
                            console.log(eval(data.Documents));
                            var docdata = eval(data.Documents);
                            //const columns1 = Object.keys(docdata[0]).map(key => {
                            //    return { title: key, data: key };
                            //});
                            const columns1 = [
                                {
                                    title: "<input type='checkbox' id='checkAll' checked>", // header checkbox
                                    data: null,
                                    orderable: false,
                                    className: 'text-center',
                                    render: function (data, type, row, meta) {
                                        return `<input type="checkbox"  checked class="doc-check" data-row="${meta.row}">`;
                                    }
                                },
                                // Now add the rest of the actual data columns
                                ...Object.keys(docdata[0]).map(key => {
                                    return { title: key, data: key };
                                })
                            ];
                            $('#tblDocuments').DataTable({
                                paging: false,
                                searching: true,
                                info: false,
                                ordering: false,
                                destroy: true,
                                autoWidth: true,
                                scrollY: "250px",
                                scrollX: true,
                                scrollCollapse: true,
                                "data": docdata,
                                "columns": columns1,
                                initComplete: function () {
                                    this.api().columns.adjust().draw(); // Stretch columns to fit data
                                }
                            });
                            tableDocuments = $('#tblDocuments').DataTable();

                            var itemsdata = eval(data.ProductInfo);
                            const columns2 = Object.keys(itemsdata[0]).map(key => {
                                return { title: key, data: key };
                            });

                            $('#tblItemDetails').DataTable({
                                paging: false,
                                searching: true,
                                info: false,
                                ordering: false,
                                destroy: true,
                                autoWidth: true,
                                scrollY: "250px",
                                scrollX: true,
                                scrollCollapse: true,
                                "data": itemsdata,
                                "columns": columns2,
                                initComplete: function () {
                                    this.api().columns.adjust().draw(); // Stretch columns to fit data
                                }
                            });
                            tableItemDetails = $('#tblItemDetails').DataTable();
                        } else {
                            showErrorSnackbar("No records found");
                        }
                    }, error: function (data) {
                        if (data.status == "401") {
                            var msg = data.responseJSON.Message;
                            //showErrorSnackbar(msg + " Logout and Login again.");
                        }
                    }
                });
            }
        }
        //$('#tblDocuments').on('change', '#checkAll', function () {
        $(document).on("click", "#checkAll", function () {
            var isChecked = $(this).is(':checked');
            $('#tblDocuments tbody .doc-check').prop('checked', isChecked);

        });
        $("#cmbType").change(function (e) {
            tableDocuments.destroy();
            tableItemDetails.destroy();
            $('#tblDocuments,#tblItemDetails').empty();
            tableDocuments = $('#tblDocuments').DataTable({
                paging: false,
                searching: false,
                info: false,
                ordering: false,
                scrollY: "250px",
                scrollX: true,
                scrollCollapse: true,
            });
            tableItemDetails = $('#tblItemDetails').DataTable({
                paging: false,
                searching: true,
                info: false,
                ordering: false,
                scrollY: "250px",
                scrollX: true,
                scrollCollapse: true,
            });
            var selid = $("#cmbType").val();
            if (selid == 1) {
                $("#dvEINVlink").hide();
                $("#dvEWAYlink").show();
            } else {
                $("#dvEINVlink").show();
                $("#dvEWAYlink").hide();
            }
            
        });
        function getSelectedRows() {
            var selectedData = [];
            var TypeID = $("#cmbType").val();
            $('#tblDocuments tbody .doc-check:checked').each(function () {
                var rowIndex = $(this).data('row');
                var rowData = tableDocuments.row(rowIndex).data();
                //selectedData.push(rowData);
                if (rowData) {
                    if (TypeID == 2) {
                        var docID = rowData["Document Number *"];
                        var docDate = rowData["Document Date (DD/MM/YYYY) *"];
                        var ttype = rowData["Document Type *"];
                        var lst = {
                            "TypeID": TypeID,
                            "DocID": docID,
                            "DocDate": docDate,
                            "DocType": ttype,
                        }
                        selectedData.push(lst);
                    }
                    else {
                        var docID = rowData["docNo"];
                        var docDate = rowData["docDate"];
                        var ttype = rowData["docType"];
                        var lst = {
                            "TypeID": TypeID,
                            "DocID": docID,
                            "DocDate": docDate,
                            "DocType": ttype,
                        }
                        selectedData.push(lst);
                    }
                }
            });
            if (selectedData.length > 0) {
                //return selectedData;
                //console.log("Selected Document Numbers:", selectedids);
                $.ajax({
                    url: Aurl + "einvoiceeway/getjson",
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(selectedData),
                    cache: false,
                    processData: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    async: false,
                    success: function (data) {
                        $.each(data, function (i, items) {
                            //$('#dvProgImg').hide();
                            //$('#dvmsg').show();
                            //$('#dvImpComp').html(items.Msg);
                            if (items.ID == "0") {
                                //$('#dvImpComp').css("color", "green");
                                showSuccessSnackbar(items.Msg);
                                location.href = Aurl + 'downloadjsondata?FPath=' + items.FilePath + "&FName=" + items.FileName;

                            }
                        });
                    },
                    error: function (data) {
                        showErrorSnackbar("Json File not generated. Try again");
                    }
                });
            }
            else {
                showErrorSnackbar("Select atleast one document")
            }
        }
    $("#btnImport").click(function () {
    //var data = new FormData($('#file')[0].files[0]);
        var fileUpload = $("#txtImportFile").get(0);
    var files = fileUpload.files;
    // Create FormData object
    var File = new FormData();
    // Looping over all files and add it to FormData object

        if (files.length > 0) {
            $("#btnImport").prop("disabled", true);
        var Trans = $("#cmbType").val();
        var TName = $("#cmbType option:selected").text();
        File.append(Trans, files[0]);
        File.append(TName, files[0]);
        for (var i = 0; i < files.length; i++) {
            File.append(files[i].name, files[i]);
        }
        $.ajax({
            url: Aurl + "einvoiceeway/uploadjsonfile",
            type: 'POST',
            datatype: "JSON",
            data: File,
            cache: false,
            contentType: false,
            processData: false,
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                $("#btnImport").prop("disabled", false);
                if (data == "1") {
                    showErrorSnackbar("No data in file");
                }
                else if (data == "2") {
                    showErrorSnackbar("Column Name mismatching in selected file");
                }
                else {
                    showSuccessSnackbar("Data Imported Successfully");
                    $("#txtImportFile").val("");
                }
            }, error: function (data) {
                showErrorSnackbar("Error Occured");
            },
            error: function (data) {
                $("#btnImport").prop("disabled", false);
                if (data.status == "401") {
                    var msg = data.responseJSON.Message;
                    ////showErrorSnackbar(msg + " Logout and Login again.");
                }
            }
        });
    } else {
        $('#dvProgImg').hide();
        showErrorSnackbar("Choose valid file");
    }
    });
    getVehicle();
    function getVehicle() {
        $('#cmbVehicleNo').find("option").remove();
        $('#cmbVehicleNo').append($('<option/>', {
            value: 0,
            text: "-- Select --",
        }));
        $.ajax({
            url: Aurl + "vehicle/get",
            type: 'get',
            contentType: 'json',
            data: { Mode: 3, Name: 0 },
            xhrFields: {
                withCredentials: true
            },
            success: function (data) {
                console.log(data);
                var vehicles = eval(data);
                if (data.length > 0) {
                    $.each(vehicles, function (i, items) {
                        $('#cmbVehicleNo').append($('<option/>', {
                            value: items.ID,
                            text: items.VehicleNo,
                        }));
                    });
                }
            }
        });
    }
    function clearewayinfo() {
        $("#divErrVehicleNo,#divErrEwayDocID").html("");
        $("#cmbVehicleNo,#cmbTransportType,#cmbTransportMode").val(0);
        $("#txtTransportID,#txtTransportName,#txtEwayDocID").val("");
    }
    $("#btnEWayupdate").click(function () {
        $("#divErrVehicleNo,#divErrEwayDocID").html("");
        var isvalid = true;
        if ($("#txtEwayDocID").val() == "") {
            isvalid = false;
            $("#divErrEwayDocID").html("Enter valid Doc ID");
            showErrorSnackbar("Enter valid Doc ID");
        }
        if ($('#cmbVehicleNo').val() == 0) {
            $("#divErrVehicleNo").html("Select Vehicle No");
            showErrorSnackbar("Select Vehicle No");
            isvalid = false;
        }
        if (isvalid)
        {
            var selectedData = []
            var lst = {
                "VehicleNo": $("#cmbVehicleNo").val(),
                "Distance": 0,
                "TransportType": $("#cmbTransportType option:selected").text(),
                "TransportMode": $("#cmbTransportMode option:selected").text(),
                "TransactionID": $("#txtTransportID").val(),
                "TransactionName": $("#txtTransportName").val(),
                "DocRange": $("#txtEwayDocID").val()
            }
            selectedData.push(lst);
            $.ajax({
                url: Aurl + "einvoiceeway/updateewayinfo",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(selectedData),
                cache: false,
                processData: false,
                xhrFields: {
                    withCredentials: true
                },
                async: false,
                success: function (data) {
                    showSuccessSnackbar("E-Way Bill details updated successfully");
                    clearewayinfo();
                },
                error: function (data) {
                    showErrorSnackbar("Something went wrong. Try again");
                }
            });
        }
    });
        $("#btnCommonDocFilter").click(function () {
            modalFilterModal.style.display = "block";            
            $("#txtcommonfilterapplyfieldid").val("txtEwayDocID");
            $("#txtcommonfilterapplytransid").val("4");
            
            //$("#txtCommonDocFilterRange").val("24,3242,343");
        });  
       
        
    </script>
</body>
</html>