#masthead {
	min-height:270px;
	background-color:#000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

.navbar-bright {
	background-color:blue;
    color:#f46f21;
    font-weight:bold;
}
  
.navbar-footer {
	background-color:blue;
    color:white;
    font-weight:bold;
}

.navbar-bright a, #masthead a, #masthead .lead {
  	  color:white;
      font-weight:bold;
}

.navbar-bright li > a:hover {
    background-color:white;
    color:#f46f21;
    font-weight:bold;
}

.affix-top,.affix{
	position: static;
}

 
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
  

#sidebar li.active {
  	border:0 #eee solid;
  	border-right-width:4px;
}

.responsive-button
{
    background-color:blue;
    color:white;
}

#mainCol h2 {
	padding-top: 55px;
    margin-top: -55px;
}

.logo{
    width:45px;
    height:45px;
    margin-top:4px;
    margin-right:10px;
    float:left;
}

hr.style14 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr.style18 {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

    hr.style18:before {
        display: block;
        content: "";
        height: 30px;
        margin-top: -31px;
        border-style: solid;
        border-color: #8c8b8b;
        border-width: 0 0 1px 0;
        border-radius: 20px;
    }