body {
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background-color: rgb(141, 251, 217);/*rgb(0,0,0)
  background-color: rgba(137, 248, 214, 0.90);*/
  overflow-x: hidden;
  
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 7%;  
  width: 100%;
  text-align: center;
  margin-top: 5px;
  
}
.overlay-content1 {
  position: relative;
  top: 7%;
  width: 66%;
  text-align: right;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #dd4b39;
}

.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 5px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 5px}
  .overlay .closebtn {
  font-size: 5px;
  top: 15px;
  right: 25px;
  }
}
.SlideTextColor{
color:white;
}
     .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
  
.facebook {
  background: #3B5998;
  
  vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;

}

.twitter {
  background: #55ACEE;
  
  vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
}

.google {
  background: #dd4b39;
  
  vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
}

.linkedin {
  background: #007bb5;
  
}

.youtube {
  background: #bb0000;
  
  vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
}

.content {
  margin-left: 35px;
  font-size: 20px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('set image here for inside Search textbox');
  
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width:100%;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: center;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: center;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  z-index: 1;
  height:400px;
  
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}