
.toastBox {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding: 20px;
    z-index:1000;
}

.toastSuccess {
    width: 400px;
    height: 50px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
    padding-right: 10px;
}

@keyframes moveleft {
    100% {
        transform: translateX(0);
    }
}

.toastSuccess i {
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.toastSuccess::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 3s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

.close-btn-sb {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

    .close-btn-sb i {
        color: #666;
    }



.toastError {
    width: 400px;
    height: 50px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
    padding-right: 10px;
}

    .toastError i {
        margin: 0 20px;
        font-size: 35px;
        color: red;
    }

    .toastError::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: red;
        animation: anim 3s linear forwards;
    }
.toastInfo {
    width: 400px;
    height: 50px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
    padding-right: 10px;
}

    .toastInfo i {
        margin: 0 20px;
        font-size: 35px;
        color: orange;
    }

    .toastInfo::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background: orange;
        animation: anim 3s linear forwards;
    }
